---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/shared/ui/SectionContainer.astro"
import TitleSection from "@/components/shared/ui/TitleSection.astro"
import ServicesSimple from "@/components/services/ServicesSimple.astro"
---

<Layout
  title="Servicios - Haion Consulting"
  description="Descubre todos nuestros servicios de asesoría fiscal, laboral y contable. Soluciones integrales para empresas."
>
  <main>
    <SectionContainer variant="plain">
      <TitleSection>
        Nuestros Servicios
      </TitleSection>
      <ServicesSimple />
    </SectionContainer>
  </main>
</Layout>
